/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

:root {
  --line-border-fill: #3498db;
  --line-border-empty: #e0e0e0;
}

/* Reset */
* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Mooli', sans-serif;
  overflow: hidden;
  background: #f6f7fb;
}

.container {
  text-align: center;
}

.container .progress-container {
  max-width: 100%;
  width: 350px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.container .progress-container::before {
  content: '';
  width: 100%;
  height: 4px;
  background: var(--line-border-empty);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: -1;
}

.progress {
  width: 0%;
  height: 4px;
  background: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: -1;
  transition: 0.4s ease;
}

.container .progress-container .circle {
  height: 30px;
  width: 30px;
  border: 3px solid var(--line-border-empty);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  color: #999;
  transition: 0.4s ease;
}

.container .progress-container .circle.active {
  border-color: var(--line-border-fill);
}

.container .btn {
  margin: 5px;
  border: none;
  border-radius: 6px;
  padding: 8px 30px;
  background-color: var(--line-border-fill);
  font-family: inherit;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}

.container .btn:active {
  transform: scale(0.98);
}

.container .btn:focus {
  outline: none;
}

.container .btn:disabled {
  background: var(--line-border-empty);
  cursor: not-allowed;
}
